body, html {
    height: 100%;
    margin: 0px;
}

.parallax1 {
    /* The image used */
    background-image: url("https://cdn.pixabay.com/photo/2015/07/10/16/05/purple-flowers-839594_960_720.jpg");
    /* Set a specific height */
    height: 100vh; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.parallax2 {
   /* The image used */
   background-image: url("https://cdn.pixabay.com/photo/2018/11/03/21/42/sunflowers-3792914_960_720.jpg");
   /* Set a specific height */
   height: 100vh; 
   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }

.parallax3 {
   /* The image used */
   background-image: url("https://cdn.pixabay.com/photo/2013/02/20/11/30/autumn-83761_960_720.jpg");
   /* Set a specific height */
   height: 100vh; 
   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }

.parallax4 {

   /* The image used */
   background-image: url("https://cdn.pixabay.com/photo/2017/01/21/13/59/ice-1997289_960_720.jpg");
   /* Set a specific height */
   height: 100vh; 
   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  
 }

  .bloc1{

  
    background-color: rgb(90, 131, 28);
    color: rgb(167, 211, 90);
    font-size: 100px;
    text-align: center;
    padding: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;

  }

  .bloc2{

   
    background-color: rgb(189, 162, 10);
    color: rgb(252, 255, 246);
    font-size: 100px;
    text-align: center;
    padding: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;

  }
  .bloc3{

    
    background-color: rgb(187, 115, 7);
    color: rgb(139, 7, 7);
    font-size: 100px;
    text-align: center;
    padding: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;

  }
  .bloc4{

    
    background-color: rgb(103, 113, 116);
    color: rgb(60, 59, 70);
    font-size: 100px;
    text-align: center;
    padding: 5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    

  }
  
  .text{
      color:azure;
      font-size: 50px;
      text-align: center;
      padding-top: 50%;
      display: block;
      margin-block-start: 0em;
      margin-block-end: 0em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
  }